<script type="html/template" id="template-app-layout">
  <div id="gtt-menu"></div>
  <div id="gtt-container"></div>
</script>
<script type="html/template" id="template-menu">
  <nav class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">
      <i class="fa fa-code-fork"></i>
      gtt projects
    </a>
    <ul>
      <% _.each(projects(), function(project) { %>
        <li><a href="/projects/<%= project %>"><%= project %></a></li>
      <% }); %>
    </ul>
    <a href="/logout">logout</a>
  </nav>
</script>
<script type="html/template" id="template-project-form">
  <h1>Project</h1>
  <form>
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="name" placeholder="currency [usd]" />
    <input type="text" name="name" placeholder="rate [0]" />
    <button type="submit">Save</button>
  </form>
</script>
<script type="html/template" id="template-project">
  <strong>name:</strong> <%= name %>
  <strong>rate:</strong> <%= currency %> <%= rate %>
</script>
<script type="html/template" id="template-day">
  <%= start %>
  <%= end %>
</script>
<script>
  window.GTT = {
    projects: {{{projects}}}
  };
</script>
<script src="build.js">
</script>
