<script type="html/template" id="template-app-layout">
  <div id="gtt-menu"></div>
  <div id="gtt-container"></div>
</script>
<script type="html/template" id="template-menu">
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/#" class="navbar-brand">
          <i class="fa fa-git-square"></i>
          time tracker
        </a>
      </div>
      <ul class="nav navbar-nav">
        <% _.each(projects(), function(project) { %>
          <li>
            <a href="/#projects/<%= project %>">
              <i class="fa fa-circle" style="color: <%= color(project) %>"></i>
              <%= project %>
            </a>
          </li>
        <% }); %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">logout</a></li>
      </ul>
    </div>
  </nav>
</script>
<script type="html/template" id="template-project-form">
  <h1>Project</h1>
  <form>
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="name" placeholder="currency [usd]" />
    <input type="text" name="name" placeholder="rate [0]" />
    <button type="submit">Save</button>
  </form>
</script>
<script type="html/template" id="template-project">
  <div class="row">
    <div class="col-xs-3">
      <div class="well">
        <h3><%= name %></h3>
        <strong>Rate: </strong> <%= currency %> <%= rate %>
      </div>
    </div>
    <div class="col-xs-9">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Day</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</script>
<script type="html/template" id="template-day">
  <td><%= day(start) %></td>
  <td><%= time(start) %></td>
  <td><%= time(end) %></td>
  <td><%= duration %></td>
</script>
<script>
  window.GTT = {
    projects: {{{projects}}}
  };
</script>
<script src="build.js">
</script>
