<script type="html/template" id="template-app-layout">
  <div id="gtt-menu"></div>
  <div id="gtt-container"></div>
</script>
<script type="html/template" id="template-menu">
  <nav class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">
      <i class="fa fa-code-fork"></i>
      gtt projects
    </a>
    <ul>
      <% _.each({{{projects}}}, function(project) { %>
        <li><a href="/projects/<%= project.name %>"><%= project.name %></a></li>
      <% }); %>
    </ul>
    <a href="/logout">logout</a>
  </nav>
</script>
<script src="build.js"></script>
