<!DOCTYPE HTML>
<html>
  <head>
    <title>gtt- Git Time Tracker</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="build.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>

