<!DOCTYPE HTML>
<html>
  <head>
    <title>gtt- Git Time Tracker</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css">
    <link rel="stylesheet" href="build.css">
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
      <input type="text" name="email" placeholder="email" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
